<div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1>Reservation</h1>

    <div style="display: flex; flex-direction: row;  ">
        <div style="margin-right: 10px;">
            <button (click)="startAdventureReservation()" class="btn btn-primary" style="width: 150px;">Adventure/Fishing</button>
        </div>
        <div style="margin-right: 10px;">
            <button (click)="startBoatReservation()"  class="btn btn-primary" style="width: 150px;">Boat</button>
        </div>
        <div style="margin-right: 10px;">
            <button (click)="startCotaggeReservation()"  class="btn btn-primary" style="width: 150px;">Cottage</button>
        </div>
    </div>

    <div class="reservation-wrapper">
        <div class="form-group">
            Select date:
            <input type="date" (change)="changeDateAdventure($event)" [(ngModel)]="dateStartAdventure" class="form-control" >
        </div>
        <div class="form-group">
            Select time:
            <input type="time" (change)="changeTimeAdventure($event)" [(ngModel)]="timeStrAdventure" class="form-control" >
        </div>
        <div class="form-group">
            Number of day:
            <input type="number" [(ngModel)]="this.reservationSearch.numberOfDay" class="form-control" >
        </div>
    </div>

    <div style="margin-right: 10px; margin-top: 10px; margin-bottom: 20px; justify-self: end; align-self: flex-end;">
        <button (click)="searachEntity()"  class="btn btn-primary" style="width: 150px;">search</button>
    </div>

    <div class="container" *ngIf="adventrueFlag">
        <div class="row" style="gap:10px">
            <div class="card col-3" *ngFor="let item of listOfEntity" style="width: 18rem;">
                <img class="card-img-top" [src]="'http://localhost:8080/api/file/' + item.img" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    {{item.description}}
                </p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Max Persons: {{item.maxPersons}} </li>
                <li class="list-group-item">Address: {{item.address}}</li>
                <li class="list-group-item">Price per day: {{item.price}}</li>
                </ul>
                <div style="margin-right: 10px; margin-top: 10px; margin-bottom: 20px; justify-self: end; align-self: flex-end;">
                    <button (click)="reservEtity(item.id)"  class="btn btn-primary" style="width: 150px;">reservations</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="cottageFlag">
        <div class="row" style="gap:10px">
            <div class="card col-3" *ngFor="let item of listOfEntity" style="width: 18rem;">
                <img class="card-img-top"[src]="'http://localhost:8080/api/file/' + item.img" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    {{item.description}}
                </p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Number of beds: {{item.numberOfBeds}} </li>
                <li class="list-group-item">Number of rooms: {{item.numberOfRooms}} </li>
                <li class="list-group-item">Address: {{item.address}}</li>
                <li class="list-group-item">Price per day: {{item.price}}</li>
                </ul>
                <div style="margin-right: 10px; margin-top: 10px; margin-bottom: 20px; justify-self: end; align-self: flex-end;">
                    <button (click)="reservEtity(item.id)"  class="btn btn-primary" style="width: 150px;">reservations</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="boatFlag">
        <div class="row" style="gap:10px">
            <div class="card col-3" *ngFor="let item of listOfEntity" style="width: 18rem;">
                <img class="card-img-top" [src]="'http://localhost:8080/api/file/' + item.img" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">
                    {{item.description}}
                </p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Length: {{item.length}} </li>
                <li class="list-group-item">Engine Number: {{item.engineNumber}} </li>
                <li class="list-group-item">Engine Power: {{item.enginePower}}</li>
                <li class="list-group-item">Price per day: {{item.price}}</li>
                </ul>
                <div style="margin-right: 10px; margin-top: 10px; margin-bottom: 20px; justify-self: end; align-self: flex-end;">
                    <button (click)="reservEtity(item.id)"  class="btn btn-primary" style="width: 150px;">reservations</button>
                </div>
            </div>
        </div>
    </div>

</div>
