<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="my-5">All Reservation</h1>
  </div>

  <div class="row" *ngFor="let item of list">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.startDate}} - {{item.endDate}}</p>
          <p class="card-text">{{item.startTime}} - {{item.endTime}}</p>
          <p class="card-text">Price with discount: {{item.price}}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">

      <div class="row">
        <div class="col-6">
          <form *ngIf="item.complaint" >
            <label>Zalba:</label>
            <textarea [(ngModel)]="item.complaint" [ngModelOptions]="{standalone: true}" [readonly]="true" ></textarea>
            <label>Odgovor:</label>
            <textarea [(ngModel)]="item.answer" [ngModelOptions]="{standalone: true}" ></textarea>
            <button class="btn btn-outline-success" type="submit" (click)="sendAnswer(item)">Posalji odgovor</button>
          </form>

        </div>
        <div class="col-6">
          <form *ngIf="item.revision">
            <label>Revizija:</label>
            <textarea [(ngModel)]="item.revision" [ngModelOptions]="{standalone: true}" ></textarea>
            <input class="my-1" type="number" [(ngModel)]="item.mark" [ngModelOptions]="{standalone: true}" />
            <button *ngIf="item.status === 'HOLD_ON'" class="btn btn-outline-success" (click)="accept(item)" type="submit">Odobri</button>
            <button *ngIf="item.status === 'HOLD_ON'" class="btn btn-outline-danger ms-3" (click)="decline(item)" type="submit">Odbij</button>
            <label *ngIf="item.status !== 'HOLD_ON'">Status: {{item.status}}</label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
