<div class="card login-form" style="margin:50px auto;">
    <div class="card-body">
        <h3 class="card-title text-center">You must reset your password to continue</h3>

        <div class="card-text">
            <div>
                <div class="form-group">
                    <input [(ngModel)]="newPassword" type="password" class="form-control form-control-sm" style="margin-bottom: 10px;" placeholder="Enter new password">
                    <input [(ngModel)]="repeatePassword" type="password" class="form-control form-control-sm" placeholder="Repeat new password">
                    <label style="color: red;" *ngIf="!passwordsMatch">Passwords don't match!</label>
                </div>
                <button type="submit" (click)="onSubmit()" class="btn btn-success btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>