<div class="container">
    <h1>All entities</h1>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Type Of Entity</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entity of allEntities">
                      
                        <td>{{entity.reservationEntity.name}}</td>
                        <td>{{entity.reservationEntity.description}}</td>
                        <td>{{entity.reservationEntity.type}}</td>
                        <td>
                            <button (click)="onDeleteEntityClick(entity.reservationEntity.id)" type="button" class="btn btn-danger"><i
                                    class="far fa-trash-alt"></i>Delete entity</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>